.container {
        width: 100%;
    }
    .row {
        text-align: left;
    }
    .col-md-4 {
        width: 100%;

    }
    .paras{
        text-align: center;
    }
    .smallparas {
        text-align: left;
    }
